
/AdapterExample/_ReSharper.AdapterExample
/AdapterExample/AdapterExample/bin
/AdapterExample/AdapterExample/obj
/ObserverPattern/_ReSharper.ObserverPattern
/ObserverPattern/FunnyExample/bin
/ObserverPattern/FunnyExample/obj
/AdapterExample/AdapterExample.suo
/AdapterExample/AdapterExample.6.5.TeamCity.user
/AdapterExample/AdapterExample.sln.docstates.suo
/ObserverPattern/ObserverPattern.v11.suo
/ObserverPattern/ObserverPattern.6.5.TeamCity.user
/ObserverPattern/ObserverPattern.sln.docstates.suo
/ObserverPattern/ObserverPattern.suo